<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <%- include("partials/navbar.ejs") %>

    <form action="/edit/<%= post.post_id %>" method="POST">
        <label for="post_text">Edit Post:</label><br>
        <textarea name="post_text" id="post_text" rows="5" cols="40"><%= post.text %></textarea><br><br>
        <input type="submit" value="Update Post">
    </form>
</body>
</html>